*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.navbar-header{
    height: 50px;
    align-items: center;
    color: #fff;
    background: linear-gradient(80deg,blueviolet, blue, blueviolet);
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    display: flex;
}


.link-item{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}


.article_container{
    display: flex;
    border: 2px;
    flex-direction: column;
}


.articleTitle{

    font-family: cursive;
    color: blueviolet;
    ;
}

.articleDesc{

}


.articleContent{
    border: 1px solid burlywood;
    margin: 20px;
    padding: 20px;
    text-decoration: none
}



.article_container{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.article_form{
    width: 50%;
   
    padding: 20px;
}

.article_form input, .article_form textarea, .article_form button {
    width: 90%;
    margin: 10px 0px;
    padding: 10px;
}